@inject IProductService _ProductService
@inject ICategoryService _CategoryService

@page "/"
@page "/search/{searchText}/{category}/{productsonpage:int}/{page:int}"
@page "/{category}"




<PageTitle>Virtual Notice-board</PageTitle>
@if(category==null && searchText==null)
{
    <FeturedProducts/>

    
    <div class="container">
    @foreach(var category in _CategoryService.Categories)
    {
        <div style="border:solid; border-color:purple;border-width:3px; margin:10px; padding:2rem;" class="row align-items-start">
            <div class="col">
          <a href="@category.URL">@category.Name</a>
            </div>
         </div>
    }
    </div>
}
else
{
    <ProductList/>
}


@code
{

    [Parameter]
    public string searchText { get; set; } = null;

     [Parameter]
    public string category { get; set; } = null;

    [Parameter]
    public int productsonpage { get; set; } = 3;

    [Parameter]
    public int page { get; set; } = 1;

     protected override async Task OnInitializedAsync()
    {
         await _CategoryService.GetAllCategories();
    }

    protected override async Task OnParametersSetAsync()
    {
        if(searchText!=null)
        {
            await _ProductService.SerchProducts(searchText,category,productsonpage,page);
        }
        else
        {
             await _ProductService.GetAllProducts(category);
        }
    }


}
