.Baner {
    background-color: black;
    font-size: 2rem;
}

.oldPrice {
    text-decoration: line-through;
    color: red;
}

.newPrice
{
    color: forestgreen;
    font-weight:bold;
}

    .Baner p {
        padding: 15px;
    }

@media(max-width: 600px) {
    .Baner {
        background-color: dimgrey;
        font-size: 1rem;
    }

        .Baner p {
            padding: 5px;
        }
}


.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
