@inherits LayoutComponentBase

<div class="page">
    <main>
        <div clas=top-row>
            <div class="nav-menu">
                <NavMenu />
                <Search/>
            </div>
         </div>
        <div class="content px-4">
            @Body
        </div>
    </main>
</div>
