@inherits LayoutComponentBase

<div class="page">
    <main>

        <div class="top-row">
            <Search/>
        </div>
        <div class="nav-menu">
            <NavMenu />
        </div>
        <div class="content px-4">
            @Body
        </div>
    </main>
</div>
