@using BlazorEcomerce.Shared.Services
@inject IProductService _ProductService;

<div class="container-fluid p-5 text-white text-center Baner">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>
  
  
@if(_ProductService.Products==null || _ProductService.Products.Count==0)
{
    <div class="loader"> </div>
}
else
{
<div class="container mt-5 ">
    @foreach(var product in _ProductService.Products)
    {
       
        <div class="row">
        <div class="col-sm-6">
            <h3>@product.Title</h3>
             <a href="/product/@product.Id"><img src="@product.ImgURL" class="img-thumbnail rounded-start  h-75 w-100"/></a>
            </div>
        <div class="col-sm-6">
        <h2>Description</h2>
        <br>
        <p>@product.Description</p>
        <p><b>Price:   </b> @product.Price</p>
        </div>
        </div>
       
    }
</div>
}




@code
{
   
    protected override async Task OnInitializedAsync()
    {
       
        await _ProductService.GetAllProducts();
    }

}
