@using BlazorEcomerce.Shared.Services
@inject HttpClient Http;

<div class="container-fluid p-5 text-white text-center Baner">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>
  
  
<div class="container mt-5 ">
    @foreach(var product in Products)
    {
        <div class="row">
        <div class="col-sm-6">
            <h3>@product.Title</h3>
            <img src="@product.ImgURL" class="img-thumbnail rounded-start  h-75 w-100"/>
            </div>
        <div class="col-sm-6">
        <h2>Description</h2>
        <br>
        <p>@product.Description</p>
        <p><b>Price:   </b> @product.Price</p>
        </div>
  </div>
    }
</div>





@code
{
    private static List<Product> Products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<ServiceResponse<List<Product>>>("api/products/getall");
        if (result != null && result.Value!=null)
            Products = result.Value;
    }

}
