.Baner {
    background-color: black;
    font-size: 1.35rem;
}

.p
{
    padding: 1rem !important;
}



@media(max-width: 600px)
{
    .Baner {
        background-color: dimgrey;
        font-size: 0.8rem;
    }
    .p {
        padding: 0.5rem !important;
    }
    .btn {
        padding: 0.05rem 0.1rem !important;
    }
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; 
    animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a {
    color: black;
}

.page-selection {
    margin-right: 15px;
    margin-bottom: 30px;
    font-weight:bold;
}

﻿.media-img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;
}