@inject AuthenticationStateProvider A_S_Prrovider
@using System.Security.Claims

@if (authorized)
{
        <p style="text-align:center; font-weight:bold;">User Panel</p>
        <a class="dropdown-item" href="userpanel/products">My Products</a>
        <hr />
}

@code {
    bool authorized = false;

    protected override async Task OnInitializedAsync()
    {
        string role = (await A_S_Prrovider.GetAuthenticationStateAsync())
            .User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role).Value;
        if (role.Contains("User") || role.Contains("Admin"))
        {
            authorized = true;
        }
    }
}